.folder-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 300px; /* 최대 너비 설정 */
    padding: 20px;
  }
  
  .folder-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .folder-name {
    flex-grow: 1;
    padding: 10px;
    background-color: #7559df; /* 변경된 배경색 */
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .folder-content:hover .folder-name {
    background-color: #573dab; /* hover 시 변경되는 배경색 */
  }
  