/* styles/HomeScreen.css */

/* 폴더 아이콘 스타일 */
.folder-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 300px; /* 최대 너비 설정 */
  padding: 20px;
}

.folder-icon {
  background-color: #7559df;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.folder-name {
  flex-grow: 1;
  padding: 10px;
  border: solid #7559df;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  height: 100px;
  width: 100px;
}

.folder-content:hover .folder-name {
  background-color: #573dab; /* hover 시 변경되는 배경색 */
}

.folder-container {
  display: flex;
  flex-wrap: wrap; /* 폴더가 가로로 배열되다가 필요할 때 줄 바꿈 */
  justify-content: flex-start;
}


/* 업로드 버튼 스타일 */
.upload-button {
  background-color: #7559df;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.upload-button:hover{
  background-color: #573dab;
}

/* 업로드 메뉴 스타일 */
.upload-menu {
  position: fixed;
  right: 30px;
  bottom: 100px;
  background-color: #7559df;
  border: 1px solid #692498;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* 업로드 메뉴 버튼 스타일 */
.upload-menu-button {
  background-color: #7559df;
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.upload-menu-button:hover{
  background-color: #573dab; /* hover 시 변경되는 배경색 */
}

/* 폴더 생성 팝업 스타일 */
.create-folder-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lavender;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 3;
  padding-right: 25px;
}

.create-folder-popup input {
  padding: 8px;
  margin-bottom: 10px;
  /*margin-right: 5px;*/
  width: 100%;
}

.create-folder-popup button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #7559df;
  color: #fff;
  cursor: pointer;
}

/* 파일 업로드 팝업 스타일 */
.file-upload-popup {
  color: #7559df;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lavender;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 3;
  padding-top: 0px;
}

.file-upload-popup input {
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

.file-upload-popup button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #7559df;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.file-upload-popup select {
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

.uploaded-files-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 10px;
}

.uploaded-file {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.file-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.file-name {
  font-size: 14px;
}

.rename-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px #ccc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rename-popup input {
  margin-bottom: 10px;
  padding: 5px;
}

.rename-popup button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.close-button {
  float: right;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: 10px;
  background-color: #7559df;
  transition: background-color 0.3s ease-in-out;
}
.close-button:hover{
  background-color: #573dab; 
}

.folder-container {
  display: flex;
  flex-wrap: wrap; /* 폴더가 가로로 배열되다가 필요할 때 줄 바꿈 */
  justify-content: flex-start;
}

.create-folder-button{
  transition: background-color 0.3s ease-in-out;
}
.create-folder-button:hover{
  background-color: #573dab; 
}

.file-upload-button{
  transition: background-color 0.3s ease-in-out;
}
.file-upload-button:hover{
  background-color: #573dab; 
}
