.keyword-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  
.keyword-input {
  padding: 8px;
  border: 2px solid #692498;
  border-radius: 10px;
  margin-right: 10px;
  width: 200px;
  transition: width 0.3s ease-in-out;
  font-size: 16px; /* 키워드 입력 창 글꼴 크기 */
}

.keyword-input:hover {
  width: 300px;
}

.search-button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #692498;
  color: #ffffff;
  cursor: pointer;
}

/* 검색 결과 표시 */
.search-results-container {
  margin-top: 20px;
}

.search-result-item {
  margin-bottom: 20px;
}

.result-text {
  font-size: 14px; /* 검색 결과 문장 글꼴 크기 */
  margin-bottom: 10px;
  line-height: 1.5;
}

.highlight {
  background-color: yellow; /* 하이라이팅 색상 */
}

.result-info {
  display: flex;
  align-items: center;
}

.file-name {
  color: #7559df; /* 파일명 색상 */
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.result-list{
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px;
}
.result-list:hover{
  background-color: #573dab; 
}
.sector{
  border-bottom: solid 1px #7559df;
}
.keyword-search{
  margin-right: 10px;
  border: 2px solid #737373; /* 테두리 색상 설정 */
  border-radius: 10px; /* 둥근 모서리 설정 */
  width: 300px;
  padding: 8px; /* 내부 간격 설정 */
  box-sizing: border-box;
  background-color: black;
  color: #7559df;
}

.keyword-search:focus {
  border-color: #7559df; /* 보라색으로 변경 */
  outline: none; /* 포커스 테두리 제거 */
  box-shadow: 0 0 5px #7559df; /* 포커스 시 그림자 효과 추가 */
}

.search-btn {
  background-color: black; /* 보라색 배경 */
  color: white; /* 텍스트 색상 */
  border: solid #7559df; /* 테두리 제거 */
  border-radius: 10px; /* 둥근 모서리 설정 */
  padding: 8px 15px; /* 내부 간격 설정 */
  cursor: pointer; /* 커서 모양 변경 */
  transition: background-color 0.3s ease; /* hover 효과에 사용할 트랜지션 속성 추가 */
}

.search-btn:hover {
  background-color: #512da8; /* hover 시 배경색 변경 */
}

.recommend{
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 10px; /* 메뉴 간격 조절 */
  transition: background-color 0.3s ease-in-out;
  border-bottom: solid 1px #7559df;
  padding: 10px;
}

.circle-container{
  position: fixed;
  left: 40%;
  top: 30%;
}

.search-sector{
  opacity: 0; /* 초기에는 투명하게 설정 */
  transition: opacity 2s ease; /* 트랜지션 효과 적용 (1초 동안) */
  z-index: 10;
}
.first-style{
  position: fixed;
  left: 48%;
  top: 40%;
  z-index: 10;
}

.first-style input{
  width: 200px;
}

.second-style{
  
}

.fade-in {
  opacity: 1 !important; /* 트랜지션 중에도 강제로 투명도 설정 */
}