.trash-screen {
    position: relative;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .trash-screen h1 {
    color: #7559df;
  }
  
  .trash-screen ul {
    list-style: none;
    padding: 0;
  }
  
  .trash-screen ul li {
    background-color: black;
    border: 1px solid #7559df;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .empty-button {
    position: fixed;
    top: 21%;
    left: 77%;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: solid 3px #7559df;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -20px;
    margin-right: 20px;
  }
  
  .empty-button:hover {
    background-color: #573dab;
  }